{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link href="{% static 'poll/css/animations.css' %}" rel="stylesheet">

    <title>LibreKast - Alerts</title>
</head>


<body style="background-color: transparent;">
	<div class="" id="librekast-alertbox" style="">

	</div>

<script src="{% static 'poll/js/chat.js' %}"></script>
<script>
	var meetingPlatform = '{{meeting.platform}}' ; 

	{% if meeting.platform != 'IRL' %}

	const meeting_id = {{ meeting.id }};
	const dashboardSocket = new WebSocket(
		{% if wss %}'wss://'{% else %}'ws://'{% endif %}
		+ window.location.host
		+ '/ws/'
		+ meeting_id
		+ '/'
	);

	// main fuction : receive messages
	dashboardSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		console.log('received : '+e.data);

		if(data['message']==='question-go'){
			console.log('go');
			// updateMeetingPlan(data['question'].id)
		} else if(data['message']==='revolution-alert'){
			playAlert(data['alert']);
		}else if(data['message']==='twitch-alert'){
			playAlert(data['alert']);
		} else if(data['message']==='error no login'){
			dashboardSocket.send(JSON.stringify({
				'message': "chat-subscribe", 
			}));
		}else if(data['message']==='admin-error'){
			alert(data['text']);
		}
		
	};

	dashboardSocket.onclose = function(e) {
	};

	// start chat
	
	{% endif %}

</script>
</body>
