{% extends "base_layout.html" %}
{% load i18n %}
{% load static %}

{% block scripts %}
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-cartesian.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
<script src="https://cdn.anychart.com/themes/2.0.0/dark_blue.min.js"></script>
<script src="https://cdn.anychart.com/themes/2.0.0/dark_glamour.min.js"></script>
<link href="{% static 'poll/css/animations.css' %}" rel="stylesheet">
{% endblock  %}

{% block title %}Dashboard{% endblock  %}

{% block content  %}
<section class="text-center pb-2 mb-2" name="meeting_details" id="meeting-title">
	<h1 class="text-3xl dark:text-white text-center mt-4">{% trans "Meeting Dashboard" %} : {{ meeting.title }}</h1>
</section>
<div class="md:flex">
<section class="w-full md:w-1/2 body-font md:border md:border-blue-200" name="current-question">
	<div class="text-center" id="question-div">
		<div class="text-center m-2">
			<span id="current-question-id" class="text-2xl" name="current-question-id" value="">{% trans "Current Question title" %}</span>
		</div>
		<div>
			<div id="question-description" class="">{% trans "Question description" %}</div>
		</div>
	</div>
	<div class="container px-5 py-24 mx-auto text-center" id="start-div">
		<button id="question-start" value="question-start" class="bg-red-600 hover:bg-red-800 text-white text-center font-bold py-2 px-4 rounded">{% trans "START" %}</button>
	</div>
</section>

<section class="w-full md:w-1/4 body-font md:border md:border-red-200" name="meeting-plan-section">
	<div class="text-center w-full m-2" id="meeting-div">
		<div class="basis-3/4 inline">
			<span class="text-2xl text-center p-2">{% trans "Meeting plan" %}</span>
		</div>
		<div class="basis-1/4 inline text-center">
			<button class="bg-pour1nf0-pink-500 px-2 py-1 rounded py" onclick="getQRCode()">QR</button>
		</div>
	</div>
	<div class = "w-full items-center m-2 p-1">
		<div id="meeting-controls" class="items-center text-center mb-2">
			<button id="meeting-start" value="meeting-start" class="bg-red-600 hover:bg-red-800 text-white text-center font-bold py-2 px-4 rounded">{% trans "start meeting" %}</button>
			<button id="meeting-question-go" value="meeting-question-go" class="hidden bg-green-600 hover:bg-green-800 text-white text-center py-2 px-4 rounded">&#9199; {% trans "start activity" %}</button>
			<button id="meeting-question-results" value="meeting-question-results" class="hidden bg-blue-600 hover:bg-blue-800 text-white text-center py-2 px-4 rounded">&#128202; {% trans "show results" %}</button>
			<button id="meeting-question-scores" value="meeting-question-scores" class="hidden bg-blue-600 hover:bg-blue-800 text-white text-center py-2 px-4 rounded">&#127942; {% trans "show scoreboard" %}</button>
			<button id="meeting-question-next" value="meeting-question-next" class="hidden bg-green-600 hover:bg-green-800 text-white text-center py-2 px-4 rounded">&#9193; {% trans "next activity" %}</button>
		</div>
		<table class="table-fixed border-separate border border-solid border-red-900 divide-solid divide-y-2 divide-x-2 divide-red-800 mx-auto text-center dark:bg-pour1nf0-pink-900">
			<thead>
				<tr class="bg-red-300 dark:bg-pour1nf0-pink-700">
				  <th>{% trans "Question" %}</th>
				  <th>{% trans "Type" %}</th>
				  <th>{% trans "Status" %}</th>
				</tr>
			</thead>
			<tbody>
				{% for question in meeting.question_set.all %}
				<tr id="librekast-question-{{question.id}}">
				  <td class="break-words">{{ question.title }}</td>
				  <td>
				  	{% if question.question_type == 'WC' %}{% trans "Word Cloud" %}{%endif%}
				  	{% if question.question_type == 'PL' %}{% trans "Poll" %}{%endif%}
				  	{% if question.question_type == 'QZ' %}{% trans "Quizz" %}{%endif%}
				  	{% if question.question_type == 'TX' %}{% trans "Text Only" %}{%endif%}
				  </td>
				  <td>
				  	<span id="librekast-question-status-{{question.id}}">
					  	{% if question.is_done %}&#9745;
					  	{% else %}&#9723;
					  	{%endif%}
				  	</span>
				  	<button id="librekast-question-go-{{question.id}}">&#9723;
				  	</button>
				  	<button id="librekast-question-results-{{question.id}}">&#9723;
				  	<button id="librekast-question-next-{{question.id}}">&#9723;
				  	</button>
				  </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="text-center text-sm m-1">{% trans "&#9199; to start a question, &#128202; to show the results, &#9193; to go to next question." %}
	</div>
	{% if meeting.platform != 'IRL' %}
	<div class = "w-full items-center m-2 p-1">
		<div class="text-center mt-2 mx-2" id="chatlog-title">
			<div class="basis-3/4 inline"><span class="text-2xl mr-2">{% trans "Chat Log" %}</span></div>
			<div class="basis-1/4 inline">
				<button class="bg-gray-400 hover:bg-pour1nf0-dark-100 hover:text-white px-1 rounded py" onclick="copyToClipboard('{% url 'poll:chatlog' meeting.id %}','{% trans 'Chat log' %}');">{% trans "Chat" %}</button>
				<button class="bg-gray-400 hover:bg-pour1nf0-dark-100 hover:text-white px-1 rounded py" onclick="copyToClipboard('{% url 'poll:alerts' meeting.id %}','{% trans 'Animations' %}');">{% trans "Alerts" %}</button>
				<button class="bg-gray-400 hover:bg-pour1nf0-dark-100 hover:text-white px-1 rounded py" onclick="copyToClipboard('{% url 'poll:prompt' meeting.id %}','{% trans 'Prompt interface' %}');">{% trans "Prompt" %}</button>
			</div>
		</div>
		<div class="border border-blue-200 bg-blue-100 dark:border-pour1nf0-blue-700 dark:bg-pour1nf0-dark-100" id="chatlog-content">
		</div>
	</div>
	<div id="librekast-alertbox"></div>
	{% endif %}

</section>

<section class="w-full md:w-1/4 body-font md:border md:border-green-200" name="scoreboard-section">
	<div class="text-center w-full m-2" id="scoreboard-div">
		<div class="basis-3/4 inline">
			<span class="text-2xl text-center p-2">{% trans "Score Board" %}</span>
		</div>
		<div class="basis-1/4 inline text-center">
			<span class="p-2" id="update-scoreboard-div">
			<button id="update-scoreboard" value="update-scoreboard" class="bg-green-600 hover:bg-green-800 dark:bg-pour1nf0-purple-600 dark:hover:bg-pour1nf0-purple-200 text-white text-center font-bold rounded">
				<svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path>
				</svg>
			</button>
			</span>
		</div>
	</div>
	<div class = "w-full items-center m-2 p-2">
	<table class="table-auto border-separate border border-solid border-green-900 divide-solid divide-y-2 divide-x-2 divide-green-800 mx-auto text-center dark:bg-pour1nf0-purple-900">
		<thead>
			<tr class="bg-green-300 dark:bg-pour1nf0-purple-400">
			  <th>{% trans "Username" %}</th>
			  <th>{% trans "Score" %}</th>
			  {% if meeting.platform != 'IRL' %}
			  <!-- so basically I prepared this for Twitch -->
			  <th>{% trans "Badges" %}</th>
			  {% endif %}
			</tr>
		</thead>
		<tbody id="scoreboard-tbody">
			{% if attendees %}
			{% for attendee in attendees %}
			<tr>
			  <td class="{% if attendee.is_youtube %}text-red-700 dark:text-red-500{% endif %}{% if attendee.is_twitch %}text-purple-700 dark:text-pour1nf0-purple-100{% endif %} break-words">{{attendee.name}}</td>
			  <td>{{attendee.score}}</td>
			  {% if meeting.platform != 'IRL' %}
			  <td>
			  	{% if attendee.is_youtube %}
			  	<img class="w-4" src="{% static 'youtube-icon.png' %}">
			  	{% endif %}
				{% if attendee.is_twitch %}
				<img class="w-4" src="{% static 'twitch-icon.png' %}">
				{% endif %}
			  	{% if attendee.is_subscriber %}
			  	<img class="w-4" src="{% static 'sub-icon.png' %}">
				{% endif %}
			  </td>
			  {% endif %}
			</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
	</div>
	{% if meeting.show_flags %}
	<div class="text-center w-full m-2" id="latest-submissions-div">
		<div class="basis-3/4 inline">
			<span class="text-2xl text-center p-2">{% trans "Lastest Submissions" %}</span>
		</div>
		<div class="border dark:border-pour1nf0-purple-200 dark:bg-pour1nf0-purple-100 dark:bg-pour1nf0-purple-300 dark:backdrop-opacity-20" id="latest-submissions-content">
		</div>
	</div>
	{% endif %}

</section>
</div>


{% endblock  %}

{% block javascript %}
{% if meeting.platform != 'IRL' %}
<script src="{% static 'poll/js/chat.js' %}"></script>
{% endif %}
<script src="{% static 'poll/js/dashboard.js' %}"></script>
<script>
	const meeting_id = {{ meeting.id }};
	var botMsgPrefix = '{{ bot_msg_prefix }}';
	const dashboardSocket = new WebSocket(
		{% if wss %}'wss://'{% else %}'ws://'{% endif %}
		+ window.location.host
		+ '/ws/'
		+ meeting_id
		+ '/'
	);
	const choiceColors = ['blue','indigo','purple','pink','sky','violet','blue','indigo','purple','pink','sky','violet','blue','indigo','purple','pink','sky','violet','blue','indigo','purple','pink','sky','violet'];
	var questionTitle = document.querySelector('#current-question-id');
	var questionDesc = document.querySelector('#question-description');
	var wordCloudData = [];
	var questionStatus ;
	var meetingPlatform = '{{meeting.platform}}' ;
	const chatLogSize = {{ meeting.chat_log_size }} -1;
	
	const meeting_qr_url = "{% url 'poll:qr_meeting' meeting.id %}";
	const twitch_icon_url = "{% static 'twitch-icon.png' %}";
	const sub_icon_url = "{% static 'sub-icon.png' %}";
	const youtube_icon_url = "{% static 'youtube-icon.png' %}";
	const bot_icon_url = "{% static 'bot-icon.png' %}";

	const trans_copied_clipboard = '{% trans " copied in the clipboard" %}';

	function resetQuestionContent(){
		if(document.querySelector('#question-content') != null){
			document.querySelector('#question-content').remove();
		}
	}

		
	function showWait(){
		questionTitle.innerText = "{% trans "Next Activity is about to start..." %}";
		questionDesc.innerHTML = "";		resetQuestionContent();
		// global vars reset ?
	}

	// function quickNdirtyExpandGraphHeight(height) -> dashboard.js
	// function copyToClipboard(targetUrl,targetName) -> dashboard.js
	// function updateScoreboard(scoresArray) -> dashboard.js
	// function startQuestion(item) -> dashboard.js
	// function stopQuestion(item_stop) -> dashboard.js
	// function nextQuestion(item_next) -> dashboard.js
	// function sendScores(item) -> dashboard.js
	// function updateMeetingPlan(questionId) -> dashboard.js
	// function showQuestionText(questionObj) -> dashboard.js
	// function showResultsPoll(resultsArray) -> dashboard.js
	// function showResultsQuizz(resultsArray) -> dashboard.js
	// function updateWordCloud(word) -> dashboard.js
	// function showWordCloud(questionObj) -> dashboard.js
	// function showChoices(choicesArray) -> dashboard.js

	// function addFlagLog(flagAttempt) -> dashboard.js

	// function playRevolutionAlert(alert) -> chat.js
	// function addChatLog(chatMessage) -> chat.js

	// main fuction : receive messages
	dashboardSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		console.log('received : '+e.data);

		if(data['message']==='question-go'){
			showQuestionText(data['question']);
			// updateMeetingPlan(data['question'].id)
		} else if(data['message']==='next-question'){
			showWait();
			dashboardSocket.send(JSON.stringify({'message': "admin-get-current-question", }));
		} else if(data['message']==='current-question'){
			updateMeetingPlan(data['question'].id);
		} else if(data['message']==='results'){
			if(data['question_type']=='QZ'){showResultsQuizz(data['results']);}
			else if(data['question_type']=='PL'){showResultsPoll(data['results']);}
		} else if(data['message']==='question-ready'){
			showWait();
		} else if(data['message']==='notify-update-poll'){
			// updatePoll(data['vote']);
			showResultsPoll(data['results'])
		}else if(data['message']==='question-close'){
			showWait();
		} else if(data['message']==='notify-update-cloud'){
			updateWordCloud(data['vote']);
		}else if(data['message']==='update-scoreboard'){
			updateScoreboard(data['scores']);
		}else if(data['message']==='notify-chat'){
			addChatLog(data['chat']); 		
		}else if(data['message']==='admin-error'){
			alert(data['text']);
		}else if(data['message']==='error'){
			alert(data['error']);
		}else if(data['message']==='revolution-alert'){
			playAlert(data['alert']);
		}else if(data['message']==='twitch-alert'){
			playAlert(data['alert']);
		}else if(data['message']==='notify-flag'){
			console.log('start flag log');
			addFlagLog(data['flag-attempt']);
		}else if(data['message']==='oauth-error'){
			var token = prompt(data['text']);
			dashboardSocket.send(JSON.stringify({
			'message': 'new-oauth-token', 
			'token': token, 
			}));
		}
	};

	dashboardSocket.onclose = function(e) {};

	function startMeeting(){
		dashboardSocket.send(JSON.stringify({
			'message': "admin-get-current-question", 
		}));
		//remove header
		const startDivNode = document.querySelector('#start-div');
		startDivNode.remove();
		const startMeetingNode = document.querySelector('#meeting-start');
		startMeetingNode.remove();
		showWait();
		{% if meeting.platform != 'IRL' %}
		alert('if you are using Revolution Bots, be sure to allow this website to play videos in the browser');
		{% endif %}
	}

	// start function
	document.querySelector('#question-start').onclick = function(e) {
		startMeeting();
	};

	// start function (similar to previous button)
	document.querySelector('#meeting-start').onclick = function(e) {
		startMeeting();
	};

	document.querySelector('#update-scoreboard').onclick = function(e) {
		dashboardSocket.send(JSON.stringify({
			'message': 'get-scoreboard', 
		}));
	}

</script>

{% endblock %}