{% extends "base_layout.html" %}
{% load i18n %}

{% block scripts %}
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-tag-cloud.min.js"></script>
<!-- <script src="https://cdn.anychart.com/themes/2.0.0/dark_blue.min.js"></script> -->
 <script src="https://cdn.anychart.com/themes/2.0.0/dark_glamour.min.js"></script>
{% endblock  %}

{% block title  %}Meeting{% endblock  %}

{% block content  %}
<section class="text-center" name="meeting_details">
	<h1 class="text-3xl text-center mt-4">{{ meeting.title }}</h1>
	<div class="mr-2 text-right text-xs">
		<p>{{ attendee.name }} : <span id="my-score">{{ attendee.score }}</span> points</p>
	</div>
</section>

<section class="text-gray-900 body-font overflow-hidden" name="current-question">
	<div class="container px-5 py-2 mx-auto" id="question-div">
		<div class="mt-2 mb-4 text-center">
			<span id="current-question-id" class="text-2xl dark:text-white" name="current-question-id" value=""></span>
			<div id="question-description" class="leading-relaxed text-center dark:text-gray-300"></div>
		</div>
	</div>
	<div class="container px-5 py-24 mx-auto text-center" id="start-div">
		<button id="question-start" value="question-start" class="bg-red-600 hover:bg-red-800 text-white text-center font-bold py-2 px-4 rounded">{% trans "START" %}</button>
	</div>
</section>

{% if meeting.show_flags %}
<section class="dark:text-gray-200 body-font " name="flag_section">
	<div class="container px-5 py-4 mx-auto items-center text-center">
		<form class="mx-auto text-center row" id="submit-flag-form">
			<span>{% trans 'Bonus points' %} :</span>
			<input type="text" id="submit-flag-input" name="submitFlag" class="w-80 ml-auto mr-0 bg-pour1nf0-purple-900 text-center rounded text-white"
			{% if meeting.flags_prefix %}
			placeholder="{% trans 'Flags like' %} {{ meeting.flags_prefix }}{XxXXxXX}" 
			{% endif %}
			>
			<button id="submit-flag-btn" class="bg-pour1nf0-purple-200 dark:bg-pour1nf0-purple-500 dark:text-pour1nf0-purple-900 text-gray-900 ml-0 mr-auto invisible md:visible md:px-3 rounded" onclick="document.getElementById('submit-flag-form').submit()">→</button>
		</form>
		<div class="my-2 text-pour1nf0-pink-500 hidden" id="flag-error">error : there must be somthing</div>
	</div>
</section>
{% endif %}

<section class="text-gray-900 body-font overflow-hidden" name="previous_questions">
	<div class="container px-5 py-8 mx-auto">
		<div id="previous-questions-container" class="-my-8">
			<h3 class="text-xl text-center dark:text-gray-300">
				{% trans "Previous questions" %}
				<button id="previous-questions-collapse">&#9776;</button>
			</h3>
			<ul id="previous-questions-list" class="hidden">
			{% for question in previous_question_list %}
			<li class="py-1 flex flex-wrap md:flex-no-wrap">
				<div class="md:flex-grow">
					<h2 class="text-1xl font-medium text-gray-900 dark:text-gray-300 title-font">{{question.title }}
					<a href="{% url 'poll:results' question.id %}" class="text-blue-500 hover:text-pour1nf0-pink-600 dark:text-pour1nf0-blue-200 dark:hover:text-pour1nf0-pink-300 inline-flex items-center mx-4 text-sm">
						{% trans "See results" %} >
					</a>
					</h2>
					<!-- <p class="leading-relaxed">{{question.desc}}
					</p> -->
				</div>
			</li>
			{% endfor %}
			<ul>
		</div>
	</div>
</section>

{% endblock  %}

{% block javascript %}

<script>
	const meeting_id = {{ meeting.id }};
	const questionSocket = new WebSocket(
		{% if wss %}'wss://'{% else %}'ws://'{% endif %}
		+ window.location.host
		+ '/ws/'
		+ meeting_id
		+ '/'
	);
	const choiceColors = ['blue','indigo','purple','pink','sky','violet','blue','indigo','purple','pink','sky','violet','blue','indigo','purple','pink','sky','violet','blue','indigo','purple','pink','sky','violet'];
	var questionTitle = document.querySelector('#current-question-id');
	var questionDesc = document.querySelector('#question-description');
	var wordCloudData = [];


		function resetQuestionContent(){
		if(document.querySelector('#question-content') != null){
			document.querySelector('#question-content').remove();
		}
	}

	function showWait(){
		questionTitle.innerText = "Next Activity is about to start...";
		questionDesc.innerHTML = "";
		resetQuestionContent();
		if(document.querySelector('#question-form') != null){
			document.querySelector('#question-form').remove();
		}

	}

	// for adding previous question to the list
	// BE AWARE THAT THE URL present here are static (not generated by django)
	function addPreviousQuestion(){
		// handle first question case
		if(document.querySelector('#previous-questions-container').classList.contains('hidden')) {
			document.querySelector('#previous-questions-container').classList.remove('hidden');
		}

		let l = document.createElement('li');
		l.classList.add('py-1','flex','flex-wrap','md:flex-no-wrap');
		let d = document.createElement('div');
		l.classList.add('md:flex-grow');
		let h = document.createElement('h2');
		h.classList.add('text-1xl','font-medium','text-gray-900','title-font','dark:text-gray-300');
		// TODO votes et id
		id = questionTitle.getAttribute('question-id');
		h.innerHTML = questionTitle.innerText+'<a href="/poll/'+id+'/results/" class="text-blue-500 hover:text-pour1nf0-pink-600 dark:text-pour1nf0-blue-200 dark:hover:text-pour1nf0-pink-300 inline-flex items-center mx-4 text-sm dark:">See results ></a>';

		d.appendChild(h);
		l.appendChild(d);
		document.querySelector('#previous-questions-list').appendChild(l);
	}

	function libreKastVote(choice){
		message_out = JSON.stringify({
			'message': "vote",
			'question':questionTitle.getAttribute('question-id'),
			'choice':choice.value ,
		});
		questionSocket.send(message_out);

		choice.onclick="";
		choice.classList.replace('librekast-choice','librekast-chosen'); 
		choice.className = "librekast-chosen";
		choice.classList.add("bg-blue-500","text-white");
		choice.classList.add("text-center","py-2","px-4","my-2","rounded");
		let choiceButtons = document.getElementsByClassName('librekast-choice');
		for(let a in choiceButtons){
			if(choiceButtons[a].id !== undefined){
				choiceButtons[a].className ="librekast-choice"; 
				choiceButtons[a].classList.add("bg-blue-200","text-blue-600");
				choiceButtons[a].classList.add("text-center","py-2","px-4","my-2","rounded");
				choiceButtons[a].onclick="";
			}
		}
		choice.classList.add("librekast-choice");
		// in case there is need to resend vote
	}

	function updateScoreboard(scoresArray){
		resetQuestionContent();
		questionTitle.textContent = 'Score Board';
		questionTitle.setAttribute("question-id",'scoreboard');
		questionTitle.classList.add('librekast-scoreboard');


		scoretable = document.createElement('table');
		scoretable.classList.add('table-auto','border-separate','border','border-solid','border-green-900','divide-solid','divide-y-2','divide-x-2','divide-green-800','mx-auto','text-center');
		scoretable.classList.add('dark:bg-pour1nf0-purple-900');
		tableHead = document.createElement('thead');
		tableHead.innerHTML = '<tr class="bg-green-300 dark:bg-pour1nf0-purple-400"><th>Username</th><th>Score</th></tr>';
		tableBody = document.createElement('tbody');
		tableBody.textContent ='';
		for(i in scoresArray){
			let row = document.createElement('tr');
			let username = document.createElement('td');
			let userscore = document.createElement('td');
			username.innerText = scoresArray[i].name;
			userscore.innerText = scoresArray[i].score;
			userscore.id = 'librekast-userscore-'+scoresArray[i].id;
			row.appendChild(username);
			row.appendChild(userscore);
			tableBody.appendChild(row);
		}
		scoretable.appendChild(tableHead);
		scoretable.appendChild(tableBody);

		questionDesc.innerHTML = '';
		questionDesc.appendChild(scoretable);
	}

	function showQuestionText(questionObj){

		questionTitle.textContent = questionObj['title'];
		questionTitle.setAttribute("question-id",questionObj['id']);
		questionTitle.classList.add('librekast-'+questionObj['type']);
		questionDesc.innerHTML = questionObj['desc'];

		if(questionObj['type'] === 'WC'){showWordCloud(questionObj);}
		else if(questionObj['type'] !== 'TX'){showChoices(questionObj['choices'])}
	}


	function showResultsPoll(resultsArray,total_votes){
		for(i in resultsArray){
			let choice = document.querySelector('#choice-'+resultsArray[i].id);
			if(choice.classList.contains('librekast-chosen')){
				choice.classList.add('font-bold',"librekast-choice");
				choice.classList.remove("bg-blue-500");
				choice.classList.replace("text-white","text-"+choiceColors[i]+"-900");
				choice.classList.add("dark:text-gray-100");
			} else if(choice.classList.contains("hover:bg-"+choiceColors[i]+"-700") && choice.classList.contains("text-white")) {
				// if the user has not selected anything
				choice.classList.remove("hover:bg-"+choiceColors[i]+"-700");
				choice.classList.remove("bg-"+choiceColors[i]+"-400");
				choice.classList.replace("text-white","text-"+choiceColors[i]+"-900");
				choice.classList.add("dark:text-gray-300");
			} else {
				choice.classList.remove("bg-blue-200");
				choice.classList.replace("text-blue-600","text-"+choiceColors[i]+"-900");
				choice.classList.add("dark:text-gray-300");
			}
			choice.classList.add("relative","overflow-hidden");
			choice.classList.remove("py-2");
			let back = document.createElement("div");
			back.id = "bar-background-"+resultsArray[i].id;
			back.className="w-full";
			back.classList.add("h-full","bg-"+choiceColors[i]+"-200","absolute");
			
			let bar = document.createElement("div");
			bar.id="bar-"+resultsArray[i].id;
			bar.className="h-full";
			bar.classList.add("bg-"+choiceColors[i]+"-400","relative","w-0","librekast-bar","dark:text-pour1nf0-dark-500");
			percent = (resultsArray[i].votes / total_votes) *100 ;
			bar.style.width = percent + "%";
			bar.innerText = resultsArray[i].votes + " votes";
			
			choice.appendChild(back);
			choice.appendChild(bar);
		}
		let p = document.createElement("p");
		p.className = "mx-4";
		p.classList.add('my-4','text-center','dark:text-gray-500');
		p.innerText = total_votes+" votes";
		p.id = 'total-votes';
		document.querySelector("#question-content").appendChild(p);
	}

	function showResultsQuizz(resultsArray){
		// consider that the choices are still here
		for(i in resultsArray){
			// or could use array of choice elmts
			let choice = document.querySelector('#choice-'+resultsArray[i].id);
			if(choice.classList.contains('librekast-chosen')){
				if(resultsArray[i].isTrue){
					let s = document.createElement("span");
					s.innerHTML = '{% trans "Yes, the answer is" %} <b>'+resultsArray[i].text+'</b><br/>';
					questionDesc.appendChild(s);
					choice.classList.replace('bg-blue-500','bg-green-500');
				} else{
					choice.classList.replace('bg-blue-500','bg-red-500');
				}
			} else if(resultsArray[i].isTrue){
				let s = document.createElement("span");
				s.innerHTML = '{% trans "Sorry, the answer was" %} <b>'+resultsArray[i].text+'</b><br/>';
				questionDesc.appendChild(s);
				choice.classList.replace('bg-blue-200','bg-green-300');
				choice.classList.replace('text-blue-600','text-green-600');
			}
			let c = document.createElement("span");
			c.className="text-xs";
			c.classList.add("px-4");
			c.innerText = resultsArray[i].votes + " votes";
			choice.appendChild(c);
		}
		// get score
		questionSocket.send(JSON.stringify({'message':'get-score'}));
	}

	function updatePollPercentage(voteBar,totalCount){
		voteCount = parseInt(voteBar.innerText.split()[0]);
		percent = (voteCount / totalCount) *100 ;
		voteBar.style.width = percent+"%";
	}

	function updatePoll(voteId){
		let totalCountElmt = document.querySelector('#total-votes');
		let totalCount = parseInt(totalCountElmt.innerText.split()[0]);
		let voteBar = document.querySelector('#bar-'+voteId);
		voteCount = parseInt(voteBar.innerText.split()[0]);
		voteCount++;
		voteBar.innerText = voteCount + " votes";
		totalCount++;
		let choiceBars = document.getElementsByClassName('librekast-bar');
		[...document.getElementsByClassName("librekast-bar")].forEach(function(item){
			updatePollPercentage(item,totalCount);
		});
		totalCountElmt.innerText = totalCount + " votes";
	}

	function updateWordCloud(word){
		//updte value array
		let b = false;
		//if word exists
		let obj = wordCloudData.find((o, i) => {
    		if (o.x === word) {
        		o.value++;
        		b = true;
        		return true;
    		}
		});
		//add word to data if non existent
		if(!b){
			let n = {'x':word,'value':1};
			wordCloudData.push(n);
		}

		//remove old graph
		ocontent = document.querySelector('#question-content');
		ocontent.remove();
		//show ne graph
		ncontent = document.createElement("div");
		ncontent.id = "question-content";
		document.querySelector('#question-div').appendChild(ncontent);

		var chart = anychart.tagCloud(wordCloudData);
		chart.angles([0]);
		chart.container("question-content");
		chart.draw();
	}

	function updateScore(score){
		document.querySelector('#my-score').innerText = score;
	}

	function wcSendWord(word){
		questionSocket.send(JSON.stringify({
			'message': "word-cloud-add", 
			'word':word,
		}));
	}

	function showWordCloud(questionObj){
		wordCloudData = questionObj['choices'];

		// show form 
		wcForm = document.createElement("div");
		wcForm.id = "question-form";
		wcForm.classList.add("inline-flex","w-full","border");
		wcInput = document.createElement("input");
		wcButton = document.createElement("button");
		wcButton.classList.add("w-1/12","pt-2","p-1","bg-indigo-300","hover:bg-indigo-100","text-indigo-800");
		wcButton.classList.add("dark:bg-pour1nf0-purple-300","dark:hover:bg-pour1nf0-purple-100","dark:text-gray-300");
		wcButton.innerText = "ADD";
		wcButton.id = "librekast-add";
		wcButton.onclick=function(item){
			wcSendWord(wcInput.value);
			wcInput.value="";
		}
		wcInput.id="librekast-input";
		wcInput.classList.add("w-full","px-4","py-2","focus:outline-none","focus:text-gray-600");
		wcInput.classList.add("dark:text-gray-200","dark:bg-pour1nf0-back-100");
		wcInput.onkeypress = function(event){
			if(event.keyCode == 13){
				wcSendWord(wcInput.value);
				wcInput.value="";
			}
		}
		wcForm.appendChild(wcInput);
		wcForm.appendChild(wcButton);

		document.querySelector('#question-div').appendChild(wcForm);

		// show results
		content = document.createElement("div");
		content.id = "question-content";
		document.querySelector('#question-div').appendChild(content);

		var chart = anychart.tagCloud(wordCloudData);
		// chart.title(questionObj['title']);
		if(document.querySelector('#darkmode-button').value == 'night'){
			// anychart.theme(anychart.themes.darkBlue);
			anychart.theme(anychart.themes.darkGlamour);
		}
		chart.angles([0]);
		chart.container("question-content");
		chart.draw();
	}

	function showChoices(choicesArray){
		content = document.createElement("div");
		content.id = "question-content";
		content.classList.add("py-8"); 
		content.classList.add("px-2"); 
		content.style="";

		let l = document.createElement("ul");
		l.id="choice-table";
		content.appendChild(l);
		for(i in choicesArray){
			let c = document.createElement("li");
			c.innerText = choicesArray[i].text;
			c.id = 'choice-'+choicesArray[i].id;
			c.value = choicesArray[i].id;
			c.classList.add("bg-"+choiceColors[i]+"-400","hover:bg-"+choiceColors[i]+"-700");
			c.classList.add("text-white","text-center","py-2","px-4","my-2","rounded");
			c.classList.add("librekast-choice");
			c.onclick = function() { libreKastVote(this); };
			content.children[0].appendChild(c);
		}
		document.querySelector('#question-div').appendChild(content);
	}

	//main fuction : receive messages
	questionSocket.onmessage = function(e) {
		const data = JSON.parse(e.data);
		console.log('received : '+e.data);
		if(data['message']==='question-go'){
			resetQuestionContent();
			showQuestionText(data['question']);
		} else if(data['message']==='results'){
			if(data['question_type']=='QZ'){showResultsQuizz(data['results']);}
			else if(data['question_type']=='PL'){showResultsPoll(data['results'],data['total']);}
		} else if(data['message']==='question-ready'){
			showWait();
		} else if(data['message']==='notify-update-poll'){
			updatePoll(data['vote']);
		} else if(data['message']==='update-score'){
			updateScore(data['score']);
		} else if(data['message']==='question-close'){
			showWait();
		} else if(data['message']==='next-question'){
			addPreviousQuestion();
			showWait();
		} else if(data['message']==='notify-update-cloud'){
			updateWordCloud(data['vote']);
		} else if(data['message']==='update-scoreboard'){
			updateScoreboard(data['scores']);
		}
		
	};

	questionSocket.onclose = function(e) {};


	// start function
	document.querySelector('#question-start').onclick = function(e) {
		const messageInputDom = document.querySelector('#question-start');
		const message = messageInputDom.value;
		questionSocket.send(JSON.stringify({
			'message': message, 
		}));
		//remove header
		document.querySelector("header").hidden=true;
		document.querySelector("h1").classList.add("mt-2");
		const startDivNode = document.querySelector('#start-div');
		startDivNode.remove()
		showWait();
	};

	// previous questions list
	document.getElementById("previous-questions-collapse").onclick = function toggleMenu() {
        document.getElementById("previous-questions-list").classList.toggle("hidden");
    };

	document.querySelector('#submit-flag-form')?.addEventListener('submit', e => {
		// for some reason this triggers a refresh
		e.preventDefault();
		questionSocket.send(JSON.stringify({
			'message': 'submit-flag', 
			'flag': e.currentTarget.submitFlag.value,
		}));
		// alert(e.currentTarget.submitFlag.value);
	});

</script>

{% endblock %}