{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet"> -->
    <link rel="icon"href="{% static 'favicon.ico' %}">
    {% block scripts %} {% endblock %}

    <title>LibreKast - {% block title %} Index {% endblock %}</title>
    {% comment %} title of page goes here {% endcomment %}
</head>

<body class="dark:bg-pour1nf0-back-400 dark:text-gray-100">
    <!-- <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"> -->

    <header class="text-gray-700 body-font dark:text-white dark:bg-pour1nf0-dark-500">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a href="/" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <img style="max-height:30px; width: auto;" src="{% static 'LibreKast.png' %}">
                <span class="ml-3 text-xl dark:text-white">LibreKast</span>
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center dark:text-white">
                <!-- <a href="" class="mr-5 hover:text-gray-900">Featured</a> -->
                <a href="/poll" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-pour1nf0-blue-600">{% trans "Meetings" %}</a>
                <a href="/#HowTo" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-pour1nf0-blue-600">{% trans "About LibreKast" %}</a>
                {% for add_page in pages %}
                <a href="{% url 'home:page' add_page.name %}" class="mr-5 hover:text-gray-900 dark:text-gray-300 dark:hover:text-pour1nf0-blue-600">{{ add_page.topTitle_ln1 }}</a>
                {% endfor %}
            </nav>
            <button class="inline-flex items-center text-white bg-pour1nf0-blue-900 hover:bg-gray-300 rounded py-1 px-3" id="darkmode-button" onclick="toggleDarkMode();" value="day">&#9790;</button>
            {% if show_admin %}
            <a href="/{{admin_url}}" <button
                class="inline-flex items-center bg-gray-300 border-0 py-1 px-3 focus:outline-none hover:bg-gray-500 dark:bg-gray-800 dark:hover:bg-gray-300 rounded text-base mt-2 md:mt-0 dark:text-gray-700 ">{% trans "Admin" %}
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
                </button> </a>
            {% endif %}
        </div>
    </header>

    {% block content %}

    {% comment %} main page content goes here {% endcomment %}

    {%endblock%}


    <footer class="text-gray-700 dark:bg-pour1nf0-back-500 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-500">
                <span class="ml-3 text-xs">©
                    2022 <a class="ml-3 text-xs text-gray-500" href="https://pour-info.tech/">Romain du Marais<a></span>
            </a>
            <a class="items-center mx-auto" href="{% static 'license.html' %}">
                <p class="text-xs text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
                    Open Source Licence</p>
            </a>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a class="text-gray-500 text-xs">
                    <a class="text-gray-500 text-xs" href="https://github.com/RduMarais/LibreKast">{% trans "See Source Code on GitHub" %}</a>


            </span>
        </div>
    </footer>
    <script>
        function toggleDarkMode() {
            document.documentElement.classList.toggle('dark');
            btn = document.querySelector('#darkmode-button');
            if(btn.value=='night'){
                btn.innerHTML = '&#9790;';
                btn.value = 'day';
            } else if(btn.value == 'day'){
                btn.innerHTML = '&#9788;';
                btn.value = 'night';
            }
        }
    </script>
    {% block javascript %}

    {% comment %} dynamic content goes here {% endcomment %}

    {%endblock%}
</body>

</html>